# Read CSV file

In [12]:
from pathlib import Path
import pandas as pd
current_location = Path()
CSV_location = current_location/'CSV'
for file in CSV_location.glob('*'):
    print(file)

data = pd.DataFrame(pd.read_csv(file))

CSV/netflix1.csv

In [16]:
import numpy as np
import mysql.connector
from mysql.connector import Error
import pymysql as MySQLdb

# 開啟資料庫連接
project = MySQLdb.connect(host="localhost",     # 主機名稱
                        user="root",          # 帳號
                        password="Ff301128",  # 密碼
                        database = "Netflix",  # 資料庫
                        port=3306,            # port
                        charset="utf8")      # 資料庫編碼

# 使用cursor()方法操作資料庫
cursor = project.cursor()

# 创建表的 SQL 语句
create_table_sql = """
CREATE TABLE Data_20240115_2(
    show_id VARCHAR(255),
    type VARCHAR(255),
    title VARCHAR(255),
    director VARCHAR(255),
    country VARCHAR(255),
    date_added DATE,
    release_year INT,
    rating VARCHAR(255),
    duration VARCHAR(255),
    listed_in VARCHAR(255)
);
"""

try:
    # 使用游标操作数据库
    cursor_create_table = project.cursor()
    # 执行创建表的 SQL 语句
    cursor_create_table.execute(create_table_sql)

except:
    pass

# 將資料data寫到資料庫中
# for i in range(len(data)):
for i in range(5):
    sql = """INSERT INTO Data_20240115_2(show_id, type, title, director, country, date_added,
       release_year, rating, duration, listed_in)
            VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"""  # 注意這裡的修改
    var = (data.iloc[i, 0], data.iloc[i, 1], data.iloc[i, 2], data.iloc[i, 3], data.iloc[i, 4], 
            data.iloc[i, 5], data.iloc[i, 6], data.iloc[i, 7], data.iloc[i, 8], data.iloc[i, 9])

    print("Executing SQL:", sql % var)  # Print the SQL query
    
    cursor.execute(sql, var)
    
project.commit()        # 提交資料

cursor.close()
project.close()

Executing SQL: INSERT INTO Data_20240115_2(show_id, type, title, director, country, date_added,
       release_year, rating, duration, listed_in)
            VALUES (s1, Movie, Dick Johnson Is Dead, Kirsten Johnson, United States, 9/25/2021, 2020, PG-13, 90 min, Documentaries)

OperationalError: (1292, "Incorrect date value: '9/25/2021' for column 'date_added' at row 1")